cache/
rootfs/aggregate/install.d/
!rootfs/aggregate/install.d/99misc
rootfs/aggregate/stage1/
rootfs/diagexec/diagexec
rootfs/enter/enter
rootfs/shim/shim.so
rootfs/usr/cache/
rootfs/usr/manifest.txt
rootfs/usr/rootfs/
rootfs/usr/usr.done
rootfs/usr/usr.squashfs
